
/atom.symlink/.node-gyp
/atom.symlink/.storage
/atom.symlink/compile-cache/
/atom.symlink/packages
/atom.symlink/storage
/atom.symlink/themes
/emacs.d.symlink/.last-package-update-day
/emacs.d.symlink/elpa/
/emacs.d.symlink/history
/emacs.d.symlink/saved-places
/emacs.d.symlink/url/cookies
/vscode.symlink/extensions/
